

<div class="conatiner">
    <div class="row justify-content-center">
    <div class="d-flex flex-column mt-2">
    <h1>Editing ImageGallery</h1>

    <%= render 'form', imagegallery: @imagegallery %>
      <p class="d-flex justify-content-around mt-3">   <%= link_to 'Show', @imagegallery %> 
         <%= link_to 'Back', imagegalleries_path %>  </p>
    </div>
    </div>
</div>